:root {
    --aiod-c-black: #000613;
    --aiod-c-black-rgb: 0, 6, 19;
    --aiod-c-blue: #0047BB;
    --aiod-c-cyan: #41B6E6;
    --aiod-c-yellow: #FFED00;
    --aiod-c-white: #FFFFFF;
    --aiod-c-blue-dark: #0F2B67;
    --aiod-c-blue-var: #003399;

    --aiod-gradient: linear-gradient(
            89.86deg,
            var(--aiod-c-blue) 0.15%,
            var(--aiod-c-cyan) 50.55%,
            var(--aiod-c-yellow) 99.91%
    );
    --aiod-gradient-azul: radial-gradient(
            50% 50% at 50% 50%,
            var(--aiod-c-blue) 0%,
            var(--aiod-c-cyan) 100%
    );
    --aiod-gradient-yellow: radial-gradient(
            50% 50% at 50% 50%,
            var(--aiod-c-cyan) -20%,
            var(--aiod-c-yellow) 95%,
            var(--aiod-c-white) 140%
    );
    --aiod-gradient-rgb: linear-gradient(
            -45deg,
            var(--aiod-c-white) 0%,
            var(--aiod-c-cyan) 25%,
            var(--aiod-c-blue) 50%,
            var(--aiod-c-yellow) 75%,
            var(--aiod-c-white) 100%
    );
    --aiod-gradient-azul-button: radial-gradient(
            43.6% 43.6% at 49.98% 100.45%,
            var(--aiod-c-cyan) 0%,
            var(--aiod-c-blue) 55%,
            var(--aiod-c-blue-var) 100%
    );
    --aiod-gradient-azul-button-hover: radial-gradient(
            129.11% 129.11% at 49.98% 100.45%,
            var(--aiod-c-cyan) 0%,
            var(--aiod-c-blue) 55%,
            var(--aiod-c-blue-var) 100%
    );


    --aiod-gradient-dark: radial-gradient(
            55.8% 55.8% at 50% 44.2%,
            var(--aiod-c-blue-dark) 0%,
            var(--aiod-c-black) 100%
    );
}

body {
    margin: 0;
    background: var(--aiod-c-black);
}

.gradient-text {
    background-color: var(--aiod-c-yellow);
    background-image: var(--aiod-gradient);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.development-roadmap {
    padding: 20px;
    font-size: 20px;
}
.development-roadmap ul li {
    padding: 20px 10px;
    font-size:24px;
}
.development-roadmap ul li span.version {
    font-weight: 800; padding-right: 30px;
}

.development-roadmap ul li span.date {
    font-weight: 100; opacity: 0.65;
}

.menu-backdrop {
    display: block;
    position: fixed;
    top: 0;
    height: 107px;
    width: 100%;
    background: linear-gradient(180deg, rgba(var(--aiod-c-black-rgb), 1) 25%, rgba(var(--aiod-c-black-rgb), 0) 100%);
    z-index: 20;
}

.menu-wrapper {
    display: block;
    width: 1330px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: 107px;
    padding: 0;
    margin-top: 0;
}

.menu-contents {
    display: flex;
    height: 107px;
    width: 1330px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0;
    z-index: 30;
    gap: 32px;
    margin-top: 0;
    align-content: center;
    align-items: center;
}

.menu-contents .menu-logo {
    width: 20%;
    height: 75px;
}
.menu-contents .menu-items {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}
.menu-contents .menu-items a {
    display: block !important;
    border-radius: 25px;
    color: var(--aiod-c-white);
    transition: all 0.15s ease-in;

}
.menu-contents .menu-items a:hover {
    background-color: var(--aiod-c-blue);
    color: var(--aiod-c-yellow) !important;
    box-shadow: inset 1px 2px 2px -2px rgba(255, 255, 255, 0.5),
        inset -1px -2px 2px -2px rgba(255, 255, 255, 0.25);
}
.menu-contents .menu-items a:hover img {
    color: inherit;
}

.menu-contents .menu-login {
    display: flex;
    width: 20%;
    gap: 16px;
    justify-content: right;
    justify-items: baseline;
}
.menu-contents .menu-login div {
}

.menu::before {
    display: block;
    width: 100%;
    height: 32px;
    top: -32px;
    background-color: var(--aiod-c-black);
    position: absolute;
    content: '';
}
.menu {
    background: linear-gradient(180deg, rgba(var(--aiod-c-black-rgb), 1) 40%, rgba(var(--aiod-c-black-rgb), 0) 100%);
}

.login-button {
    border-radius: 100px;
    display: flex;
    align-items: center;
    background-color: var(--blue-2);
    border: 1px solid transparent !important;
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25) 53.65%, rgba(255, 255, 255, 0) 100%) 1;
    cursor: pointer;
    gap: 8px;
    justify-content: center;
    padding: 10px 16px;
    position: relative;
    width: fit-content;
}

.login-picture {
    background-image: url(../img/rectangle-44.svg);
    background-size: 100% 100%;
    height: 44px;
    min-width: 44px;
    position: relative;
}

.under-construction {
    position: fixed;
    top: 80%;
    left: 80%;
    width: 300px;
    height: 120px;
    margin: -50px 0 0 -50px;
    z-index: 200;
    cursor: not-allowed;
    border-radius: 20px;
    transition: all .4s ease-in-out;
}
.message {
    position: absolute;
    width:300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px) contrast(80%);
    transition: all .4s ease-in-out;
}

.message-content {
    padding: 10px;
    box-sizing: border-box;
    border-radius: inherit;
}
.message-text {
    background-color: var(--aiod-c-blue);
    background-image: var(--aiod-gradient-rgb);
    background-size: 400%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-family: var(--font-family-montserrat);
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    animation: gradient-rgb 10s ease-in-out infinite;
}

.under-construction.shake {
    animation: shake-construction 1s infinite;
    background-color: var(--aiod-c-white);
}
.under-construction.shake .message {
    background-color: var(--aiod-c-white);
}
.under-construction.shake .message-text {
    color: var(--aiod-c-black);
    background-image: none !important;
    background-color: var(--aiod-c-black);
    animation: none;
}

@keyframes gradient-rgb {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@keyframes shake-construction {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}