/* screen - news-search-1440 */

.news-search-1440 {
  align-items: center;
  background-color: var(--blue-charcoal);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3440px;
  padding: 16px 0;
  width: 1440px;
}

.news-search-1440 .overlap-group10 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(14.6, 42.54, 103.06) 0%, rgb(0, 6, 19) 100%);
  height: 1065px;
  position: relative;
  width: 1440px;
  z-index: 1;
}

.news-search-1440 .overlap-group11 {
  height: 598px;
  left: 205px;
  position: absolute;
  top: 152px;
  width: 1028px;
}

.news-search-1440 .group-683 {
  align-items: center;
  display: flex;
  gap: 28px;
  height: 546px;
  left: 121px;
  min-width: 594px;
  mix-blend-mode: screen;
  opacity: 0.4;
  position: absolute;
  top: 0;
}

.news-search-1440 .ellipse-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(6.8, 22.44, 56.31) 0%, rgb(0.28, 10.93, 34) 67.9%, rgb(0, 6, 19) 85.53%, rgb(0.23, 8.84, 27.5) 100%);
  border-radius: 83px;
  box-shadow: 20px 40px 60px #000000;
  height: 166px;
  margin-top: 136.0px;
  width: 166px;
}

.news-search-1440 .ellipse-2 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(6.8, 22.44, 56.31) 0%, rgb(0.28, 10.93, 34) 67.9%, rgb(0, 6, 19) 85.53%, rgb(0.23, 8.84, 27.5) 100%);
  border-radius: 200px;
  box-shadow: 20px 40px 60px #000000;
  height: 400px;
  width: 400px;
}

.news-search-1440 .ellipse-4 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(6.8, 22.44, 56.31) 0%, rgb(0.28, 10.93, 34) 67.9%, rgb(0, 6, 19) 85.53%, rgb(0.23, 8.84, 27.5) 100%);
  border-radius: 42.5px;
  box-shadow: 20px 40px 60px #000000;
  height: 85px;
  margin-left: 24px;
  width: 85px;
}

.news-search-1440 .dashboard-contribute {
  color: #909090;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 300;
  left: 4px;
  letter-spacing: 0;
  line-height: 22.4px;
  position: absolute;
  top: 67px;
  white-space: nowrap;
}

.news-search-1440 .title {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 71, 187) 0%, rgb(65, 182, 230) 51.04%, rgb(255, 237, 0) 100%);
  background-clip: text;
  left: 1px;
  letter-spacing: -2.60px;
  line-height: 52px;
  position: absolute;
  text-fill-color: transparent;
  top: 102px;
  white-space: nowrap;
}

.news-search-1440 .frame-25-1 {
  gap: 10px;
  left: 0;
  min-height: 312px;
  position: absolute;
  top: 286px;
  width: 608px;
}

.news-search-1440 .lorem-ipsum-dolor-sit-amet {
  color: var(--white);
  font-family: var(--font-family-jura);
  font-size: 32px;
  font-weight: 300;
  height: 20px;
  letter-spacing: 0;
  line-height: 44px;
  margin-top: -11px;
  white-space: nowrap;
}

.news-search-1440 .lorem-ipsum-dolor-si-2 {
  letter-spacing: 0;
  line-height: 28.8px;
  min-height: 168px;
  opacity: 0.6;
  width: 498px;
}

.news-search-1440 .img {
  background-color: var(--bright-gray);
  border-radius: 20px;
  height: 340px;
  left: 635px;
  position: absolute;
  top: 245px;
  width: 393px;
}

.news-search-1440 .group-730 {
  align-items: center;
  background-image: url(../img/btn-principal-24.svg);
  background-size: 100% 100%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 0;
  min-width: 184px;
  padding: 0 32px;
  position: absolute;
  top: 505px;
}

.news-search-1440 .vector-1 {
  height: 8px;
  width: 8px;
}

.news-search-1440 .frame-22 {
  height: 18px;
  left: 205px;
  position: absolute;
  top: 593px;
  width: 184px;
}

.news-search-1440 .time {
  align-items: flex-end;
  display: flex;
  height: 101px;
  left: 205px;
  min-width: 1230px;
  position: absolute;
  top: 837px;
}

.news-search-1440 .overlap-group5 {
  height: 101px;
  position: relative;
  width: 393px;
}

.news-search-1440 .spanabsolute-container {
  height: 3px;
  position: relative;
  width: 182px;
}

.news-search-1440 .spanabsolute-1 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 182px;
}

.news-search-1440 .spanabsolute-2 {
  background: linear-gradient(180deg, rgb(0, 71, 187) 0%, rgb(65, 182, 230) 51.04%, rgb(255, 237, 0) 100%);
  border-radius: 9999px;
  height: 70px;
  left: 34px;
  position: absolute;
  top: -33px;
  transform: rotate(-90.00deg);
  width: 3px;
}

.news-search-1440 .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .frame-25-2 {
  gap: 8px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .lorem-ipsum-dolor-si-3 {
  letter-spacing: 0;
  line-height: 22px;
  margin-top: -1.00px;
  position: relative;
  width: 183px;
}

.news-search-1440 .overlap-group1 {
  height: 100px;
  left: 211px;
  position: absolute;
  top: 1px;
  width: 182px;
}

.news-search-1440 .spanabsolute {
  background-color: var(--white);
  border-radius: 9999px;
  height: 182px;
  left: 91px;
  opacity: 0.3;
  position: absolute;
  top: -91px;
  transform: rotate(-90.00deg);
  width: 1px;
}

.news-search-1440 .pchakra-text {
  align-items: flex-start;
  display: flex;
  padding: 0px 154.33px 0px 0px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .lorem-ipsum-dolor-si {
  letter-spacing: 0;
  line-height: 22px;
  opacity: 0.4;
  position: relative;
  width: 180px;
}

.news-search-1440 .overlap-group {
  height: 100px;
  margin-left: 30px;
  position: relative;
  width: 182px;
}

.news-search-1440 .lorem-ipsum-dolor-si-1 {
  letter-spacing: 0;
  line-height: 22px;
  opacity: 0.4;
  position: relative;
  width: 182px;
}

.news-search-1440 .overlap-group4 {
  height: 100px;
  margin-left: 29px;
  position: relative;
  width: 182px;
}

.news-search-1440 .frame-25-3 {
  align-self: flex-start;
  gap: 4px;
  margin-left: 30px;
  margin-top: 1px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .pchakra-text-1 {
  height: 18px;
  min-width: 172.33px;
  position: relative;
}

.news-search-1440 .group-840 {
  align-items: center;
  display: flex;
  gap: 885px;
  height: 75px;
  left: 48px;
  min-width: 1340px;
  position: fixed;
  top: 32px;
  z-index: 12;
}

.news-search-1440 .logotipo {
  align-items: flex-start;
  display: flex;
  width: 150px;
}

.news-search-1440 .group {
  height: 75px;
  position: relative;
  width: 150px;
}

.news-search-1440 .group-1 {
  height: 15px;
  left: 27px;
  position: absolute;
  top: 29px;
  width: 123px;
}

.news-search-1440 .group-2 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 69px;
}

.news-search-1440 .frame-30 {
  align-items: center;
  display: flex;
  gap: 24px;
  margin-bottom: 1.0px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .frame-29 {
  align-items: center;
  display: flex;
  gap: 18px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .group-4 {
  background-image: url(../img/rectangle-44-3.svg);
  background-size: 100% 100%;
  height: 44px;
  min-width: 44px;
  position: relative;
}

.news-search-1440 .frame-28 {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 7px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .frame-14 {
  align-items: flex-start;
  display: flex;
  gap: 8px;
  left: 466px;
  position: fixed;
  top: 47px;
  width: fit-content;
  z-index: 13;
}

.news-search-1440 .menu {
  height: 44px;
  min-width: 89px;
  position: relative;
}

.news-search-1440 .menu-1 {
  min-width: 70px;
}

.news-search-1440 .menu-2 {
  min-width: 79px;
}

.news-search-1440 .menu-3 {
  min-width: 129px;
}

.news-search-1440 .menu-4 {
  min-width: 106px;
}

.news-search-1440 .flex-row {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(20px) brightness(100%);
  background-color: var(--blue-2);
  border-radius: 24px 24px 0px 0px;
  display: flex;
  height: 541px;
  justify-content: flex-end;
  margin-top: 32px;
  min-width: 1028px;
  padding: 70px 103px;
  z-index: 2;
}

.news-search-1440 .group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 29px;
  min-height: 292px;
  width: 237px;
}

.news-search-1440 .group-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 78px;
  width: 237px;
}

.news-search-1440 .search-on-title-and-body {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 8px;
  display: flex;
  gap: 78px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 20.5px;
}

.news-search-1440 .type-your-query {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 102px;
  white-space: nowrap;
}

.news-search-1440 .group-736 {
  align-self: center;
  height: 11px;
  width: 11px;
}

.news-search-1440 .market-vertical {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-1 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 89px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .select-category {
  min-width: 91px;
}

.news-search-1440 .group-141 {
  align-self: center;
  height: 5px;
  margin-bottom: 0.43px;
  width: 8px;
}

.news-search-1440 .news-mentioning-ai-assets {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-2 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 50px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .type-ai-asset-category {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 130px;
  white-space: nowrap;
}

.news-search-1440 .group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 136px;
  margin-left: 54px;
  min-height: 292px;
  width: 237px;
}

.news-search-1440 .place {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-3 {
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  gap: 45px;
  min-height: 54px;
  width: 235px;
}

.news-search-1440 .flex-row-1 {
  align-items: center;
  display: flex;
  gap: 153px;
  margin-left: 1.0px;
  margin-top: 14px;
  min-width: 188px;
}

.news-search-1440 .place-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 27px;
  white-space: nowrap;
}

.news-search-1440 .group-141-1 {
  height: 5px;
  margin-top: 1.57px;
  width: 8px;
}

.news-search-1440 .group-741 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2.0px;
  min-height: 78px;
  width: 237px;
}

.news-search-1440 .related-project {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-4 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 57px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .type-a-project-to-filter {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 123px;
  white-space: nowrap;
}

.news-search-1440 .organization {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-5 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 69px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .select-organization {
  min-width: 111px;
}

.news-search-1440 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  min-height: 394px;
  width: 256px;
}

.news-search-1440 .area-of-interest {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-6 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 53px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .select-area-of-interest {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 127px;
  white-space: nowrap;
}

.news-search-1440 .group-7-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  min-height: 78px;
  width: 237px;
}

.news-search-1440 .tags-keywords {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-7 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 83px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .select-a-keyword {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  min-width: 97px;
  white-space: nowrap;
}

.news-search-1440 .author {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.news-search-1440 .caixa-texto-8 {
  align-items: flex-start;
  border-radius: 8px;
  gap: 102px;
  height: 54px;
  justify-content: flex-end;
  min-width: 235px;
  padding: 14px 23px;
}

.news-search-1440 .select-author {
  min-width: 78px;
}

.news-search-1440 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-right: 2px;
  margin-top: 42px;
  min-width: 254px;
}

.news-search-1440 .overlap-group6 {
  border-radius: 100px;
  height: 60px;
  position: relative;
  width: 140px;
}

.news-search-1440 .btn_-principal-1 {
  align-items: flex-start;
  background: radial-gradient(50% 50% at 50% 50%, rgb(65, 182, 230) 0%, rgb(0, 71, 187) 55%, rgb(0, 51, 153) 100%);
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 100%) 1;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  height: 60px;
  justify-content: flex-end;
  left: 0;
  min-width: 140px;
  padding: 23px 21px;
  position: absolute;
  top: 0;
}

.news-search-1440 .apply-filter {
  letter-spacing: 0;
  line-height: 12px;
  min-width: 71px;
  white-space: nowrap;
}

.news-search-1440 .icon_arrow-right-1 {
  align-self: center;
}

.news-search-1440 .vector-2 {
  height: 8px;
  left: 105px;
  position: absolute;
  top: 26px;
  width: 7px;
}

.news-search-1440 .overlap-group7 {
  border-radius: 300px;
  height: 59px;
  position: relative;
  width: 104px;
}

.news-search-1440 .overlap-group-2 {
  height: 15px;
  left: 26px;
  position: absolute;
  top: 21px;
  width: 54px;
}

.news-search-1440 .icon_arrow-right-2 {
  left: 24px;
  position: absolute;
  top: 1px;
}

.news-search-1440 .group-837 {
  align-items: center;
  display: flex;
  gap: 5px;
  height: 15px;
  left: 0;
  min-width: 54px;
  position: absolute;
  top: 0;
}

.news-search-1440 .reset {
  letter-spacing: 0;
  line-height: 12px;
  margin-top: 1.0px;
  min-width: 32px;
  white-space: nowrap;
}

.news-search-1440 .trash {
  height: 15px;
  width: 15px;
}

.news-search-1440 .rectangle-377 {
  border: 1px solid;
  border-color: var(--white);
  border-radius: 300px;
  height: 59px;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 104px;
}

.news-search-1440 .address {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  align-self: flex-start;
  background: linear-gradient(180deg, rgb(0, 71, 187) 0%, rgb(65, 182, 230) 51.04%, rgb(255, 237, 0) 100%);
  background-clip: text;
  height: 20px;
  letter-spacing: 0;
  line-height: 44px;
  margin-bottom: -24px;
  margin-left: 205px;
  margin-top: 88px;
  text-fill-color: transparent;
  white-space: nowrap;
  z-index: 3;
}

.news-search-1440 .list-component {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 37px;
  min-height: 159px;
  width: 1440px;
  z-index: 5;
}

.news-search-1440 .line-14 {
  margin-top: -1px;
}

.news-search-1440 .frame-39 {
  align-items: center;
  display: flex;
  gap: 157px;
  margin-right: 2.0px;
  margin-top: 45px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .irida-labs-to-exhibi {
  height: 54px;
  letter-spacing: 0;
  line-height: 18.2px;
  position: relative;
  width: 166px;
}

.news-search-1440 .well-be-at-embedded {
  height: 70px;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1.00px;
  opacity: 0.6;
  position: relative;
  width: 394px;
}

.news-search-1440 .group-724 {
  height: 60px;
  min-width: 152px;
  position: relative;
}

.news-search-1440 .group-757 {
  align-items: flex-start;
  display: flex;
  min-width: 152px;
}

.news-search-1440 .overlap-group-1 {
  border-radius: 100px;
  height: 60px;
  position: relative;
  width: 152px;
}

.news-search-1440 .btn_-principal {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white-2);
  border-radius: 100px;
  display: flex;
  gap: 4px;
  left: 0;
  padding: 24px 32px;
  position: absolute;
  top: 0;
  width: fit-content;
}

.news-search-1440 .vector {
  height: 8px;
  left: 111px;
  position: absolute;
  top: 26px;
  width: 8px;
}

.news-search-1440 .line-15 {
  margin-top: 43px;
}

.news-search-1440 .list-component-1 {
  z-index: 6;
}

.news-search-1440 .list-component-2 {
  z-index: 7;
}

.news-search-1440 .list-component-3 {
  z-index: 8;
}

.news-search-1440 .list-component-4 {
  z-index: 9;
}

.news-search-1440 .list-component-5 {
  z-index: 10;
}

.news-search-1440 .group-756 {
  align-items: center;
  background-image: url(../img/btn-principal-25.svg);
  background-size: 100% 100%;
  display: flex;
  gap: 4px;
  height: 60px;
  margin-top: 58px;
  min-width: 140px;
  padding: 0 32px;
  z-index: 4;
}

.news-search-1440 .see-more {
  letter-spacing: 0;
  line-height: 12px;
  min-width: 60px;
  white-space: nowrap;
}

.news-search-1440 .send {
  height: 12px;
  width: 12px;
}

.news-search-1440 .group-782 {
  align-items: flex-start;
  display: flex;
  margin-top: 118px;
  min-width: 1324px;
  z-index: 11;
}

.news-search-1440 .overlap-group8 {
  height: 406px;
  position: relative;
  width: 1330px;
}

.news-search-1440 .group-780 {
  height: 406px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1330px;
}

.news-search-1440 .flex-row-2 {
  align-items: center;
  background-image: url(../img/rectangle-99-9.svg);
  background-size: 100% 100%;
  display: flex;
  height: 355px;
  left: 0;
  min-width: 1324px;
  padding: 42px;
  position: absolute;
  top: 0;
}

.news-search-1440 .flex-row-3 {
  align-items: flex-end;
  align-self: flex-start;
  display: flex;
  gap: 137px;
  height: 250px;
  min-width: 439px;
}

.news-search-1440 .group-container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 139px;
  min-height: 250px;
  width: 181px;
}

.news-search-1440 .group-container-3 {
  height: 75px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

.news-search-1440 .bt {
  align-items: center;
  border: 1px solid;
  border-color: var(--yellow);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
  width: fit-content;
}

.news-search-1440 .flex-col-1 {
  margin-left: 90px;
  margin-top: 2.0px;
  min-height: 227px;
  width: 137px;
}

.news-search-1440 .group-30 {
  align-items: flex-end;
  display: flex;
  gap: 25px;
  margin-top: 8px;
  min-width: 95px;
  opacity: 0.5;
  padding: 0 0.0px;
}

.news-search-1440 .bt-1 {
  border: 1px solid;
  border-color: var(--yellow);
  margin-top: 47px;
  width: fit-content;
}

.news-search-1440 .bt-2 {
  background-color: var(--blue);
  height: 43px;
  margin-left: 0.19px;
  width: 122px;
}

.news-search-1440 .group-777 {
  background-image: url(../img/frame-6.svg);
  background-size: 100% 100%;
  height: 11px;
  margin-top: 1.0px;
  width: 41px;
}

.news-search-1440 .develop {
  height: 24px;
  left: 360px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 93px;
  white-space: nowrap;
}

.news-search-1440 .bt-3 {
  align-items: center;
  border-radius: 100px;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
}

.news-search-1440 .caixa-texto-9 {
  border: 1px solid;
  border-color: var(--white-2);
  display: flex;
}

.news-search-1440 .frame-25-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.news-search-1440 .icon_arrow-right-3 {
  height: 12px;
  width: 12px;
}

.news-search-1440 .line {
  height: 1px;
  object-fit: cover;
  width: 1440px;
}

.news-search-1440 .list-component-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 159px;
  width: 1440px;
}

.news-search-1440 .menu-5 {
  height: 44px;
  position: relative;
}

.news-search-1440 .select {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}
